<h2 class='page-header'>{{ title }}
<a ng-click='logout()' class='btn btn-danger pull-right'>Log Off</a>
</h2>



<fieldset>
<legend>Your Companies</legend>
<ul class='unstyled'>
	<li ng-repeat='listing in listings' class='listing-entry'>
		<h3>{{ listing.companyName }}</h3>
		<p class='lead'>{{ listing.phrase }}</p>
		<a ng-click='viewListing(listing._id)' class='btn btn-disabled'>View</a>
		<a ng-click='editListing(listing._id)' class='btn btn-primary'>Edit</a>
	</li>
</ul>
</fieldset>