<h2>Login</h2>

<div class='alert alert-error' ng-show='flash'>
	{{ flash }}
</div>

<a class='btn btn-primary' href='/auth/twitter'>Sign in with Twitter</a>
<a class='btn btn-primary' href='/auth/facebook'>Sign in with Facebook</a>