<h2 class='page-header'>Login</h2>

<div class='alert alert-error' ng-show='flash'>
	{{ flash }}
</div>

<div class='btn btn-primary' ng-click='twitterAuth()'>
	<i class='icon-twitter'></i> Sign in with Twitter</div>

<div class='btn btn-primary' ng-click='facebookAuth()'>
	<i class='icon-facebook'></i> Sign in with Facebook</div>