<h2>Create a Listing</h2>
<form name='listingCreationForm'>
	<input type='text' name='companyName' ng-model='listingCreationForm.companyName' placeholder='Company Name' autocorrect='off' required />
	<button type='submit' ng-click='create()' class='btn btn-success'>Post</button>
</form>