<h2>Create a Listing</h2>
<form name='listCreate'>
	<input type='text' name='companyName' ng-model='formData.companyName' placeholder='Company Name' autocorrect='off' required />
	<br/>
	<button ng-click='save()' ng-disabled='listCreate.$invalid' class='btn btn-success'>Post</button>
</form>