<h2>{{ title }}</h2>

<form name='listCreate' class='form-horizontal'>
<div class="progress">
  <div class="bar" style="width: {{progress}};">{{progress}} required fields complete</div>
</div>


<a class='btn' ng-click='testIsLoggedIn()'>Logged in?</a>
<a class='btn' ng-click='testLogIn()'>Log In</a>

<div class='alert alert-error' ng-show='flash'>
	{{ flash }}
</div>

<div class='alert alert-success' ng-show='success'>
	{{ success }}
</div>

<div class='alert alert-info' ng-show='info'>
	{{ info }}
</div>



<div ng-show='currentPage == 1'>
	<fieldset>
		<legend>Company Basics <small class='pull-right'>{{ currentPage }} of {{  lastPageNumber }}</small></legend>

		<div class='control-group'>
			<label class='control-label' for='companyName'>Company Name <span class='text-error'>*</span></label>
			<div class='controls'>
				<input type='text' name='companyName' ng-model='formData.companyName' placeholder='Company Name' autocorrect='off' required />	
				
				<div ng-show='listCreate.companyName.$dirty && listCreate.companyName.$invalid' class='alert alert-error'>
					<span ng-show='listCreate.companyName.$error.required'>A company name is required.</span>
				</div>		
			</div>
		</div>

		<div class='control-group'>
			<label class='control-label' for='websiteUrl'>Website <span class='text-error'>*</span></label>
			<div class='controls'>
				<input type='url' name='websiteUrl' ng-model='formData.websiteUrl' placeholder='http://' autocorrect='off' required />

				<div ng-show='listCreate.websiteUrl.$dirty && listCreate.websiteUrl.$invalid' class='alert alert-error'>
					<span ng-show='listCreate.websiteUrl.$error.required'>A company website is required.</span>
					<span ng-show='listCreate.websiteUrl.$error.url'>This is not a valid URL. Try beginning the URL with 'http://'</span>
				</div>
			</div>
		</div>

		<div class='control-group'>
			<label class='control-label' for='hiringUrl'>Hiring Page / Job Postings URL <span class='text-error'>*</span></label>
			<div class='controls'>
				<input type='url' name='hiringUrl' ng-model='formData.hiringUrl' placeholder='http://' autocorrect='off' required />

				<div ng-show='listCreate.hiringUrl.$dirty && listCreate.hiringUrl.$invalid' class='alert alert-error'>
					<span ng-show='listCreate.hiringUrl.$error.required'>A jobs posting URL is required.</span>
					<span ng-show='listCreate.hiringUrl.$error.url'>This is not a valid URL. Try beginning the URL with 'http://'</span>
				</div>
			</div>
		</div>

		<div class='control-group'>
			<label class='control-label' for='address.line1'>Address <span class='text-error'>*</span></label>
			<div class='controls'>
				<input type='text' name='address_line1' ng-model='formData.address.line1' placeholder='Address Line 1' autocorrect='off' required class='input-group' /><br/>
				<input type='text' name='address_line2' ng-model='formData.address.line2' placeholder='Address Line 2 (optional)' autocorrect='off' class='input-group' /><br/>
				<input type='text' name='address_city' ng-model='formData.address.city' placeholder='City' required class='input-group' />

				<div ng-show='listCreate.address_line1.$dirty && listCreate.address_line1.$invalid' class='alert alert-error'>
					<span ng-show='listCreate.address_line1.$error.required'>An address is required.</span>
				</div>

				<div ng-show='listCreate.address_city.$dirty && listCreate.address_city.$invalid' class='alert alert-error'>
					<span ng-show='listCreate.address_city.$error.required'>A city is required.</span>
				</div>
			</div>
		</div>

		<div class='control-group'>
			<label class='control-label' for='twitterHandle'>Twitter Handle</label>
			<div class='controls'>
				<input type='text' name='twiterHandle' ng-model='formData.twitterHandle' placeholder='@yourTwitter' autocorrect='off' />
			</div>
		</div>

		<div class='control-group'>
			<label class='control-label' for='linkedInUrl'>LinkedIn</label>
			<div class='controls'>
				<input type='url' name='linkedInUrl' ng-model='formData.linkedInUrl' placeholder='http://' autocorrect='off' />

				<div ng-show='listCreate.linkedInUrl.$dirty && listCreate.linkedInUrl.$invalid' class='alert alert-error'>
					<span ng-show='listCreate.linkedInUrl.$error.url'>This is not a valid URL. Try beginning the URL with 'http://'</span>
				</div>
			</div>
		</div>

		<div class='control-group'>
			<label class='control-label' for='twitterHandle'>AngelList Username</label>
			<div class='controls'>
				<input type='text' name='angelListUsername' ng-model='formData.angelListUrl' placeholder='yourName' autocorrect='off' />
			</div>
		</div>

		<div class='control-group'>
			<div class='controls'>
				<a class='btn btn-primary' ng-click='save()'>Save</a>
				<a class='btn' ng-click='nextPage()'>Next &rarr;</a>

<!-- 				<div ng-show='listCreate.$dirty' class='alert alert-error'>
					<strong>Hey!</strong> You have unsaved changes.
				</div> -->
			</div>
		</div>
	</fieldset>
</div>











<div ng-show='currentPage == 2'>
	<fieldset>
		<legend>Company Basics <small class='pull-right'>{{ currentPage }} of {{  lastPageNumber }}</small></legend>

		<div class='control-group'>
			<label class='control-label' for='phrase'>Describe your company in one phrase <span class='text-error'>*</span></label>
			<div class='controls'>
				<input type='text' name='phrase' ng-model='formData.phrase' required />

				<div ng-show='listCreate.phrase.$dirty && listCreate.phrase.$invalid' class='alert alert-error'>
					<span ng-show='listCreate.phrase.$error.required'>This is required.</span>
				</div>
			</div>
		</div>

		<div class='control-group'>
			<label class='control-label' for='changeTheWorld'>How you'll change the world <span class='text-error'>*</span></label>
			<div class='controls'>
				<textarea maxlengthlimit='{{ maxBlurbLength }}' rows='5' name='changeTheWorld' ng-model='formData.changeTheWorld' placeholder='{{ maxBlurbLength }} characters' required></textarea><br/>
				<span ng-bind='maxBlurbLength - changeTheWorld.length'></span>
				<ng-pluralize count='maxBlurbLength - changeTheWorld.length'
				  when="{'1': 'character', 'other': 'characters'}"></ng-pluralize> remaining

				<div ng-show='listCreate.changeTheWorld.$dirty && listCreate.changeTheWorld.$invalid' class='alert alert-error'>
					<span ng-show='listCreate.changeTheWorld.$error.required'>This is required.</span>
				</div>
			</div>
		</div>

		<div class='control-group'>
			<label class='control-label' for='somethingAwesome'>Something awesome about you</label>
			<div class='controls'>
				<textarea maxlengthlimit='{{ maxBlurbLength }}' rows='5' name='somethingAwesome' ng-model='formData.somethingAwesome' placeholder='{{ maxBlurbLength }} characters'></textarea><br/>
				<span ng-bind='maxBlurbLength - somethingAwesome.length'></span>
				<ng-pluralize count='maxBlurbLength - somethingAwesome.length'
				  when="{'1': 'character', 'other': 'characters'}"></ng-pluralize> remaining
			</div>
		</div>

		<div class='control-group'>
			<div class='controls'>
				<a class='btn' ng-click='previousPage()'>&larr; Previous</a>
				<a class='btn btn-primary' ng-click='save()'>Save</a>
				<a class='btn' ng-click='nextPage()'>Next &rarr;</a>
			</div>
		</div>

	</fieldset>
</div>










<div ng-show='currentPage == 3'>
	<fieldset>
		<legend>Company Stats <small class='pull-right'>{{ currentPage }} of {{  lastPageNumber }}</small></legend>

		<div class='control-group'>
			<label class='control-label' for='foundingYear'>Year Founded <span class='text-error'>*</span></label>
			<div class='controls'>
				<input type='number' min='1800' placeholder='YYYY' name='foundingYear' ng-model='formData.foundingYear' ng-pattern='/\b\d{4}\b/' required />

				<div ng-show='listCreate.foundingYear.$dirty && listCreate.foundingYear.$invalid' class='alert alert-error'>
					<span ng-show='listCreate.foundingYear.$error.number'>That's not even a number.</span>
					<span ng-show='listCreate.foundingYear.$error.required'>This is required.</span>
					<span ng-show='listCreate.foundingYear.$error.min'>Enter a believable year.</span>
					<span ng-show='listCreate.foundingYear.$error.pattern'>Year should be in YYYY format.</span>
				</div>

			</div>
		</div>

		<div class='control-group'>
			<label class='control-label' for='companyType'>Company Type <span class='text-error'>*</span></label>
			<div class='controls'>
				<select name='companyType' ng-model='formData.companyType' ng-options='type for type in companyTypes' required></select>
			</div>
		</div>

		<div class='control-group'>
			<label class='control-label' for='productType'>Product Type</label>
			<div class='controls'>
				<label class='checkbox' ng-repeat='product in productTypes'>
					<input type='checkbox' ng-model='product.value'> {{ product.type }}</input>
				</label>

				<div ng-show='otherProductTypeChecked()' class='alert alert-warning'>
					<p>Please describe...</p>
					<input type='text' placeholder='Description' ng-model='formData.productTypesOtherDescription' />
				</div>
			</div>
		</div>

		<div class='control-group'>
			<label class='control-label' for='industryFocus'>Industry Focus <span class='text-error'>*</span></label>
			<div class='controls'>
				<select ng-model='formData.industryFocus.option' ng-options='type for type in industryFocuses'></select>

				<div ng-show='otherIndustrySelected()' class='alert alert-info'>
					<p>Please describe...</p>
					<input type='text' placeholder='Description' ng-model='formData.industryFocus.description' />
				</div>
			</div>
		</div>

		<div class='control-group'>
			<label class='control-label' for='primaryCustomer'>Primary Customer <span class='text-error'>*</span></label>
			<div class='controls'>
				<select ng-model='formData.primaryCustomer' ng-options='type for type in primaryCustomers' required></select>
			</div>
		</div>

		<div class='control-group'>
			<label class='control-label' for='fundingRounds'>Last Funding Round Closed <span class='text-error'>*</span></label>
			<div class='controls'>
				<select ng-model='formData.fundingRound' ng-options='type for type in fundingRounds' required></select>
			</div>
		</div>

		<div class='control-group'>
			<label class='control-label' for='totalRaised'>Total Raised to Date</label>
			<div class='controls'>
				<select ng-model='formData.totalRaised' ng-options='type for type in totalRaisedValues'></select>
			</div>
		</div>

		<div class='control-group'>
			<label class='control-label' for='annualRevenue'>Annualized Revenue</label>
			<div class='controls'>
				<select ng-model='formData.annualRevenue' ng-options='type for type in annualRevenues' required></select>
			</div>
		</div>

		<div class='control-group'>
			<label class='control-label' for='incubatorName'>If you took part in an incubator / accelerator, please name it</label>
			<div class='controls'>
				<input type='text' name='incubatorName' ng-model='formData.incubatorName' />
			</div>
		</div>

		<div class='control-group'>
			<label class='control-label' for='milestone'>Your latest traction milestone <span class='text-error'>*</span></label>
			<div class='controls'>
				<textarea maxlengthlimit='{{ maxBlurbLength }}' rows='5' name='milestone' ng-model='formData.milestone' placeholder='{{ maxBlurbLength }} characters' required></textarea><br/>
				<span ng-bind='maxBlurbLength - milestone.length'></span>
				<ng-pluralize count='maxBlurbLength - milestone.length'
				  when="{'1': 'character', 'other': 'characters'}"></ng-pluralize> remaining
			</div>
		</div>

		<div class='control-group'>
			<div class='controls'>
				<a class='btn' ng-click='previousPage()'>&larr; Previous</a>
				<a class='btn btn-primary' ng-click='save()'>Save</a>
				<a class='btn' ng-click='nextPage()'>Next &rarr;</a>
			</div>
		</div>

	</fieldset>
</div>










<div ng-show='currentPage == 4'>
	<fieldset>
		<legend>The Team <small class='pull-right'>{{ currentPage }} of {{  lastPageNumber }}</small></legend>
		<div class='control-group'>
			<label class='control-label' for='fulltimeTeamSize'>Full Time Team <span class='text-error'>*</span></label>
			<div class='controls'>
				<input type='number' placeholder='How Many?' name='fulltimeTeamSize' ng-model='formData.fulltimeTeamSize' ng-min='0'required min='0' value='0'/>

				<div ng-show='listCreate.fulltimeTeamSize.$dirty && listCreate.fulltimeTeamSize.$invalid' class='alert alert-error'>
					<span ng-show='listCreate.fulltimeTeamSize.$error.number'>That's not even a number.</span>
					<span ng-show='listCreate.fulltimeTeamSize.$error.required'>This is required.</span>
					<span ng-show='listCreate.fulltimeTeamSize.$error.min'>Don't be ridiculous.</span>
				</div>
			</div>
		</div>

		<div class='control-group'>
			<label class='control-label' for='fulltimeTeamSizeOk'>Full Time Team in OK <span class='text-error'>*</span></label>
			<div class='controls'>
				<input type='number' placeholder='How Many?' name='fulltimeTeamSizeOk' ng-model='formData.fulltimeTeamSizeOk' ng-min='0' value='0' required min='0'/>

				<div ng-show='listCreate.fulltimeTeamSizeOk.$dirty && listCreate.fulltimeTeamSizeOk.$invalid' class='alert alert-error'>
					<span ng-show='listCreate.fulltimeTeamSizeOk.$error.number'>That's not even a number.</span>
					<span ng-show='listCreate.fulltimeTeamSizeOk.$error.required'>This is required.</span>
					<span ng-show='listCreate.fulltimeTeamSizeOk.$error.min'>Don't be ridiculous.</span>
				</div>
			</div>
		</div>

		<div class='control-group'>
			<label class='control-label' for='totalTeamSize'>Total Team Size <span class='text-error'>*</span></label>
			<div class='controls'>
				<input type='number' placeholder='How Many?' name='totalTeamSize' ng-model='formData.totalTeamSize' required/>
				<div ng-show='listCreate.totalTeamSize.$dirty && listCreate.totalTeamSize.$invalid' class='alert alert-error'>
					<span ng-show='listCreate.totalTeamSize.$error.number'>That's not even a number.</span>
					<span ng-show='listCreate.totalTeamSize.$error.required'>This is required.</span>
					<span ng-show='listCreate.totalTeamSize.$error.min'>Don't be ridiculous.</span>
				</div>
			</div>
		</div>

		<div class='control-group'>
			<label class='control-label' for='developmentOk'>Percent of Technology Development Occuring in Oklahoma<span class='text-error'>*</span></label>
			<div class='controls'>
				<input type='number' placeholder='What percent?' name='developmentOk' ng-model='formData.developmentOk' required/>
				<div ng-show='listCreate.developmentOk.$dirty && listCreate.developmentOk.$invalid' class='alert alert-error'>
					<span ng-show='listCreate.developmentOk.$error.number'>That's not even a number.</span>
					<span ng-show='listCreate.developmentOk.$error.required'>This is required. Do not include a percent sign.</span>
					<span ng-show='listCreate.developmentOk.$error.min'>Don't be ridiculous.</span>
				</div>
			</div>
		</div>


		<div class='control-group'>
			<label class='control-label' for='founders'>Founders (include yourself)</label>
			<div class='controls'>
				<div ng-repeat='founder in formData.founders'>
					<input type='text' class='input-group' name='founderName' placeholder='Name' ng-model='formData.founders[$index].name'/><br/>
					<input type='email' class='input-group' name='founderEmail' placeholder='Email' ng-model='formData.founders[$index].email'/><br/>
					<input type='text' class='input-group' name='founderTitle' placeholder='Title/Role' ng-model='formData.founders[$index].title'/><br/><br/>
				</div>
				<a ng-click='addFounder()' class='btn btn-primary btn-small'>Add Another</a>
			</div>
		</div>

		<div class='control-group'>
			<div class='controls'>
				<a class='btn' ng-click='previousPage()'>&larr; Previous</a>
				<a class='btn btn-primary' ng-click='save()'>Save</a>
				<a class='btn' ng-click='nextPage()'>Next &rarr;</a>
			</div>
		</div>
	</fieldset>
</div>










<div ng-show='currentPage == 5'>
	<fieldset>
		<legend>Hiring Information <small class='pull-right'>{{ currentPage }} of {{  lastPageNumber }}</small></legend>

		<div class='control-group'>
			<label class='control-label' for='hiringUrl'>Jobs URL</label>
			<div class='controls'>
				<input type='url' name='hiringUrl' ng-model='hiringUrl' placeholder='http://' autocorrect='off' />
			</div>
		</div>

		<div class='control-group'>
			<label class='control-label' for='hiringEmail'>Contact Email</label>
			<div class='controls'>
				<input type='email' name='hiringEmail' ng-model='hiringEmail' placeholder='Your Hiring Contact Email' autocorrect='off' />
			</div>
		</div>

		<div class='control-group'>
			<label class='control-label' for='isHiring'>Hiring?</label>
			<div class='controls'>
				<label class='radio'>
					<input type='radio' name='isHiring' value='true'>Yes
				</label>
				<label class='radio'>
					<input type='radio' name='isHiring' value='false'>No
				</label>
			</div>
		</div>

		<div class='control-group'>
			<label class='control-label' for='isInternshipAvailable'>Internships Available?</label>
			<div class='controls'>
				<label class='radio'>
					<input type='radio' name='isInternshipAvailable' value='true'>Yes
				</label>
				<label class='radio'>
					<input type='radio' name='isInternshipAvailable' value='false'>No
				</label>
			</div>
		</div>

		<div class='control-group'>
			<div class='controls'>
				<a class='btn' ng-click='previousPage()'>&larr; Previous</a>
				<a class='btn btn-primary' ng-click='save()'>Save</a>
				<a class='btn btn-success' ng-click='submit()' ng-disabled='listCreate.$invalid'>Publish</a>
			</div>
		</div>
	</fieldset>
</div>

</form>