<style>
	.alert { margin-top: 0.3em; }
</style>

<script type='text/javascript' src='/lib/jquery.form.min.js'></script>

<h2 class='page-header'>{{ title }}</h2>

<form name='listCreate' class='form-horizontal' enctype='multipart/form-data'>

<div class='alert alert-error' ng-show='flash'>
	{{ flash }}
</div>

<div class='alert alert-success' ng-show='success'>
	{{ success }}
</div>

<div class='alert alert-info' ng-show='info'>
	{{ info }}
</div>


<div ng-show='currentPage == 1'>
	<fieldset>
		<legend>Company Basics <small class='pull-right'>{{ currentPage }} of {{  lastPageNumber }}</small></legend>

		<div class='grid-50'>
		<div class='control-group'>
			<label class='control-label' for='companyName'>Company Name <span class='text-error'>*</span></label>
			<div class='controls'>
				<input type='text' name='companyName' ng-model='formData.companyName' placeholder='Company Name' autocorrect='off' required />
				
				<div ng-show='listCreate.companyName.$dirty && listCreate.companyName.$invalid' class='alert alert-error'>
					<span ng-show='listCreate.companyName.$error.required'>A company name is required.</span>
				</div>		
			</div>
		</div>

		<div class='control-group'>
			<label class='control-label' for='websiteUrl'>Company Image <span class='text-error'>*</span></label>
			<div class='controls'>
				<button type='btn btn-primary' click-hacker target='uploader'>Upload Image</button>
				<input type='file' company-uploader action='/api/listings/image' name='uploader' id='uploader' style='display:none;' />
				<input type='hidden' ng-model='formData.imageUrl'/>
				<span ng-show='progress' class='text text-info'><strong>Progress</strong>: {{ progress }}%</span>

				<div class='alert alert-info'>
					Your image will be resized to <strong>350px wide</strong> by <strong>200px tall</strong>, so choose an 
					image that matches this aspect ratio (think business card).
				</div>
			</div>
		</div>

		<div class='control-group'>
			<label class='control-label' for='address.line1'>Address <span class='text-error'>*</span></label>
			<div class='controls'>
				<input type='text' name='address_line1' ng-model='formData.address.line1' placeholder='Address Line 1' autocorrect='off' required class='input-group' /><br/>
				<input type='text' name='address_line2' ng-model='formData.address.line2' placeholder='Address Line 2 (optional)' autocorrect='off' class='input-group' /><br/>
				<input type='text' name='address_city' ng-model='formData.address.city' placeholder='City' required class='input-group' />

				<div ng-show='listCreate.address_line1.$dirty && listCreate.address_line1.$invalid' class='alert alert-error'>
					<span ng-show='listCreate.address_line1.$error.required'>An address is required.</span>
				</div>

				<div ng-show='listCreate.address_city.$dirty && listCreate.address_city.$invalid' class='alert alert-error'>
					<span ng-show='listCreate.address_city.$error.required'>A city is required.</span>
				</div>
			</div>
		</div>

		<div class='control-group'>
			<label class='control-label' for='websiteUrl'>Company Website</label>
			<div class='controls'>
				<input type='text' name='websiteUrl' ng-model='formData.websiteUrl' placeholder='http://madeinok.co' autocorrect='off' />
			</div>
		</div>

		<div class='control-group'>
			<label class='control-label' for='twitterHandle'>Twitter Handle</label>
			<div class='controls'>
				<input type='text' name='twiterHandle' ng-model='formData.twitterHandle' placeholder='@yourTwitter' autocorrect='off' />
			</div>
		</div>

		<div class='control-group'>
			<label class='control-label' for='linkedInUrl'>LinkedIn</label>
			<div class='controls'>
				<input type='text' name='linkedInUrl' ng-model='formData.linkedInUrl' placeholder='http://' autocorrect='off' />
			</div>
		</div>

		<div class='control-group'>
			<label class='control-label' for='twitterHandle'>AngelList Username</label>
			<div class='controls'>
				<input type='text' name='angelListUsername' ng-model='formData.angelListUrl' placeholder='yourName' autocorrect='off' />
			</div>
		</div>

		<div class='control-group'>
			<div class='controls'>
				<button class='btn btn-primary' ng-click='save()'>Save</button>
				<button class='btn' ng-disabled='listCreate.companyName.$invalid || listCreate.websiteUrl.$invalid || listCreate.address_line1.$invalid || listCreate.address_city.$invalid' ng-click='nextPage()'>Next &rarr;</button>
				<div ng-show='listCreate.companyName.$invalid || listCreate.websiteUrl.$invalid || listCreate.address_line1.$invalid || listCreate.address_city.$invalid' class='alert alert-warning'>
					Make sure you've entered your <strong>company name</strong>, <strong>website</strong>, and <strong>address</strong>. The <strong>company image</strong> should be uploaded before continuing.
				</div>
			</div>
		</div>
		</div>

		<div class='grid-50'>
			<img ng-show='formData.imageUrl' src='{{formData.imageUrl}}' />
		</div>
	</fieldset>
</div>











<div ng-show='currentPage == 2'>
	<fieldset>
		<legend>Company Basics <small class='pull-right'>{{ currentPage }} of {{  lastPageNumber }}</small></legend>

		<div class='grid-50'>
			<div class='control-group'>
				<label class='control-label' for='phrase'>Tell us about your company and your goals for the future <span class='text-error'>*</span></label>
				<div class='controls'>
					<textarea name='phrase' type="text" ng-model='formData.phrase' ck-editor required ng-bind-html-unsafe=formData.phrase></textarea><br/>
					<div ng-show='listCreate.phrase.$dirty && listCreate.phrase.$invalid' class='alert alert-error'>
						<span ng-show='listCreate.phrase.$error.required'>This is required.</span>
					</div>

				</div>
			</div>

			<div class='control-group'>
				<div class='controls'>
					<button class='btn' ng-click='previousPage()'>&larr; Previous</button>
					<button class='btn btn-primary' ng-click='save()'>Save</button>
					<button class='btn' ng-disabled='listCreate.phrase.$invalid' ng-click='nextPage()'>Next &rarr;</button>
					<div ng-show='listCreate.phrase.$invalid' class='alert alert-warning'>
					Make sure you tell us how you'll <strong>change the world</strong>.
					</div>
				</div>
			</div>
		</div>

		<div class='grid-50'>

			<strong class='alert-info'>Company phrase example:</strong>
			<div class='alert alert-info'>
				<abbr title='Company Name' ng-model='previewCompanyName'>Made In OK</abbr>, is developing <abbr title='What are you developing?' >a crowd sourced and curated web community</abbr> to help <abbr title='Who are you helping?'>Oklahoma innovators, makers, founders and creatives</abbr> <abbr title='What are you helping them do?'>have a central place to find local networking events, keep up to date on what's happening in the community, and connect with talent.</abbr>
			</div>

			<span ng-show='formData.phrase'>
				<strong class='alert-info'>Company phrase preview:</strong>
				<div class='alert alert-info' ng-bind-html-unsafe=formData.phrase></div>
			</span>
		</div>
	</fieldset>
</div>









<div ng-show='currentPage == 3'>
	<fieldset>
		<legend>Company Stats <small class='pull-right'>{{ currentPage }} of {{  lastPageNumber }}</small></legend>

		<div class='control-group'>
			<label class='control-label' for='foundingYear'>Year Founded <span class='text-error'>*</span></label>
			<div class='controls'>
				<input type='number' min='1800' placeholder='YYYY' name='foundingYear' ng-model='formData.foundingYear' ng-pattern='/\b\d{4}\b/' required />

				<div ng-show='listCreate.foundingYear.$dirty && listCreate.foundingYear.$invalid' class='alert alert-error'>
					<span ng-show='listCreate.foundingYear.$error.number'>That's not even a number.</span>
					<span ng-show='listCreate.foundingYear.$error.required'>This is required.</span>
					<span ng-show='listCreate.foundingYear.$error.min'>Enter a believable year.</span>
					<span ng-show='listCreate.foundingYear.$error.pattern'>Year should be in YYYY format.</span>
				</div>

			</div>
		</div>

		<div class='control-group'>
			<label class='control-label' for='companyType'>Company Type <span class='text-error'>*</span></label>
			<div class='controls'>
				<select name='companyType' ng-model='formData.companyType' ng-options='type for type in companyTypes' required></select>
			</div>
		</div>

		<div class='control-group'>
			<label class='control-label' for='productType'>Product Type</label>
			<div class='controls'>
				<label class='checkbox' ng-repeat='product in productTypes'>
					<input type='checkbox' ng-model='product.value'> {{ product.productType }}</input>
				</label>

				<div ng-show='otherProductTypeChecked()' class='alert alert-warning'>
					<p>Please describe...</p>
					<input type='text' placeholder='Description' ng-model='formData.productTypesOtherDescription' />
				</div>
			</div>
		</div>

		<div class='control-group'>
			<label class='control-label' for='industryFocus'>Industry Focus <span class='text-error'>*</span></label>
			<div class='controls'>
				<select ng-model='formData.industryFocus.option' ng-options='type for type in industryFocuses'></select>

				<div ng-show='otherIndustrySelected()' class='alert alert-info'>
					<p>Please describe...</p>
					<input type='text' placeholder='Description' ng-model='formData.industryFocus.description' />
				</div>
			</div>
		</div>

		<div class='control-group'>
			<label class='control-label' for='primaryCustomer'>Primary Customer <span class='text-error'>*</span></label>
			<div class='controls'>
				<select ng-model='formData.primaryCustomer' ng-options='type for type in primaryCustomers' required></select>
			</div>
		</div>

		<div class='control-group'>
			<label class='control-label' for='fundingRounds'>Last Funding Round Closed <span class='text-error'>*</span></label>
			<div class='controls'>
				<select ng-model='formData.fundingRound' ng-options='type for type in fundingRounds' required></select>
			</div>
		</div>

		<div class='control-group'>
			<label class='control-label' for='totalRaised'>Total Raised to Date</label>
			<div class='controls'>
				<select ng-model='formData.totalRaised' ng-options='type for type in totalRaisedValues'></select>
			</div>
		</div>

		<div class='control-group'>
			<label class='control-label' for='annualRevenue'>Annualized Revenue</label>
			<div class='controls'>
				<select ng-model='formData.annualRevenue' ng-options='type for type in annualRevenues'></select>
			</div>
		</div>

		<div class='control-group'>
			<label class='control-label' for='incubatorName'>If you took part in an incubator / accelerator, please name it</label>
			<div class='controls'>
				<input type='text' name='incubatorName' ng-model='formData.incubatorName' />
			</div>
		</div>

		<div class='control-group'>
			<label class='control-label' for='milestone'>Your latest traction milestone</label>
			<div class='controls'>
				<textarea maxlengthlimit='{{ maxBlurbLength }}' rows='5' name='milestone' ng-model='formData.milestone' placeholder='{{ maxBlurbLength }} characters'></textarea><br/>
				<span >{{ maxBlurbLength - formData.milestone.length }}</span>
				<ng-pluralize count='maxBlurbLength - formData.milestone.length'
				  when="{'1': 'character', 'other': 'characters'}"></ng-pluralize> remaining
			</div>
		</div>

		<div class='control-group'>
			<div class='controls'>
				<button class='btn' ng-click='previousPage()'>&larr; Previous</button>
				<button class='btn btn-primary' ng-click='save()'>Save</button>
				<button class='btn' ng-disabled='listCreate.foundingYear.$invalid' ng-click='nextPage()'>Next &rarr;</button>

				<div ng-show='listCreate.foundingYear.$invalid' class='alert alert-warning'>
				You have to enter the <strong>year</strong> you were founded to continue.
				</div>
			</div>
		</div>

	</fieldset>
</div>










<div ng-show='currentPage == 4'>
	<fieldset>
		<legend>The Team <small class='pull-right'>{{ currentPage }} of {{  lastPageNumber }}</small></legend>
		<div class='control-group'>
			<label class='control-label' for='teamsize'>Team Size <span class='text-error'>*</span></label>
			<div class='controls'>
				<input type='number' placeholder='How Many?' name='teamsize' ng-model='formData.teamSize' ng-min='0'required min='0' value='0'/>

				<div ng-show='listCreate.teamsize.$dirty && listCreate.teamsize.$invalid' class='alert alert-error'>
					<span ng-show='listCreate.teamsize.$error.number'>That's not even a number.</span>
					<span ng-show='listCreate.teamsize.$error.required'>This is required.</span>
					<span ng-show='listCreate.teamsize.$error.min'>Don't be ridiculous.</span>
				</div>
			</div>
		</div>


		<div class='control-group'>
			<label class='control-label' for='developmentOk'>Percent of Technology Development Occuring in Oklahoma<span class='text-error'>*</span></label>
			<div class='controls'>
				<input type='number' placeholder='What percent?' name='developmentOk' ng-model='formData.developmentOk' required/>
				<div ng-show='listCreate.developmentOk.$dirty && listCreate.developmentOk.$invalid' class='alert alert-error'>
					<span ng-show='listCreate.developmentOk.$error.number'>That's not even a number.</span>
					<span ng-show='listCreate.developmentOk.$error.required'>This is required. Do not include a percent sign.</span>
					<span ng-show='listCreate.developmentOk.$error.min'>Don't be ridiculous.</span>
				</div>
			</div>
		</div>


		<div class='control-group'>
			<label class='control-label' for='founders'>Founders (include yourself)</label>
			<div class='controls'>
				<div ng-repeat='founder in formData.founders'>
					<input type='text' class='input-group' name='founderName' placeholder='Name' ng-model='formData.founders[$index].name'/><br/>
					<input type='email' class='input-group' name='founderEmail' placeholder='Email' ng-model='formData.founders[$index].email'/><br/>
					<input type='text' class='input-group' name='founderTitle' placeholder='Title/Role' ng-model='formData.founders[$index].title'/><br/><br/>
				</div>
				<a ng-click='addFounder()' class='btn btn-primary btn-small'>Add Another</a>
			</div>
		</div>

		<div class='control-group'>
			<div class='controls'>
				<button class='btn' ng-click='previousPage()'>&larr; Previous</button>
				<button class='btn btn-primary' ng-click='save()'>Save</button>
				<button class='btn' ng-disabled='listCreate.teamsize.$invalid || listCreate.developmentOk.$invalid' ng-click='nextPage()'>Next &rarr;</button>

				<div ng-show='listCreate.teamsize.$invalid || listCreate.developmentOk.$invalid' class='alert alert-warning'>
				Make sure you filled out the <strong>team size</strong> and <strong>development percent</strong>.
				</div>
			</div>
		</div>
	</fieldset>
</div>










<div ng-show='currentPage == 5'>
	<fieldset>
		<legend>Hiring Information <small class='pull-right'>{{ currentPage }} of {{  lastPageNumber }}</small></legend>

		<div class='control-group'>
			<label class='control-label' for='hiringUrl'>Hiring Page</label>
			<div class='controls'>
				<input type='url' name='hiringUrl' ng-model='formData.hiringUrl' placeholder='http://' autocorrect='off' />
			</div>
		</div>

		<div class='control-group'>
			<label class='control-label' for='hiringEmail'>Contact Email</label>
			<div class='controls'>
				<input type='email' name='hiringEmail' ng-model='formData.hiringEmail' placeholder='Your Hiring Contact Email' autocorrect='off' />

				<div ng-show='listCreate.hiringEmail.$dirty && listCreate.hiringEmail.$invalid' class='alert alert-error'>
					<span ng-show='listCreate.hiringEmail.$error.email'>This is not a valid email address.'</span>
				</div>
			</div>
		</div>

		<div class='control-group'>
			<label class='control-label' for='hiringPhone'>Contact Number</label>
			<div class='controls'>
				<input type='text' name='hiringPhone' ng-model='formData.hiringPhone' placeholder='Your Hiring Contact Phone' autocorrect='off' />

				<div ng-show='listCreate.hiringPhone.$dirty && listCreate.hiringPhone.$invalid' class='alert alert-error'>
					<span ng-show='listCreate.hiringPhone.$error.phone'>This is not a valid phone number.'</span>
				</div>
			</div>
		</div>
		
		<div class='control-group'>
			<label class='control-label' for='isHiring'>Hiring?</label>
			<div class='controls'>
				<label class='radio'>
					<input type='radio' name='isHiring' value='true' ng-model='formData.isHiring' ng-checked='formData.isHiring'>Yes
				</label>
				<label class='radio'>
					<input type='radio' name='isHiring' value='false' ng-model='formData.isHiring' ng-checked='!formData.isHiring'>No
				</label>
			</div>
		</div>

		<div class='control-group'>
			<label class='control-label' for='isInternshipAvailable'>Internships Available?</label>
			<div class='controls'>
				<label class='radio'>
					<input type='radio' name='isInternshipAvailable' ng-value='true' ng-model='formData.hasInternships' ng-checked='formData.hasInternships'>Yes
				</label>
				<label class='radio'>
					<input type='radio' name='isInternshipAvailable' ng-value='false' ng-model='formData.hasInternships' ng-checked='!formData.hasInternships'>No
				</label>
			</div>
		</div>

		<div class='control-group'>
			<div class='controls'>
				<button class='btn' ng-click='previousPage()'>&larr; Previous</button>
				<button class='btn btn-primary' ng-click='save()'>Save</button>
				<span ng-show='!formData.isPublished'>
				<button class='btn btn-success' ng-click='submit()' ng-disabled='listCreate.$invalid'>Publish</button>
				</span>
			</div>

			<div ng-show='listCreate.$invalid' class='alert alert-warning'>
				<p>
				You won't be able to publish until you fill out the form properly.<br/>
				Check that you've filled out all required fields, and there are no errors on the page.</p>
			</div>
		</div>
	</fieldset>
</div>

</form>