<a href='#/create' class='btn btn-success'>Create</a>
<div>
	showing {{ count }} entries

	<div>
		<ul>
			<li ng-repeat='entry in listings'>
				<h3>{{ entry.companyName }}</h3>
				<small><a href='#/edit/{{entry._id}}' ng-click='init(entry._id)'>edit</a> // 
				<a href='#/view/{{entry._id}}'>read</a> // 
				<button class='btn btn-danger' ng-click='destroy("{{ entry._id }}")'>delete</button>
		</ul>
	</div>
</div>