<div class='grid-100'>
	<h2 class='page-header'>
		Startup Directory
		<a href='#/create' class='btn btn-large btn-primary pull-right'>Add Your Startup</a>
	</h2>
</div>

<div class='grid-100'>
<div ng-repeat='entry in listings' class='listing-entry grid-33' ng-click='viewEntry(entry._id)'>
	<div class='business-card'>
		<a href='#/view/{{entry._id}}'><img src='{{entry.imageUrl}}' /></a>
	</div>
</div>
</div>
