<a href='#/create' class='btn btn-success'>Create</a>
<div>
	showing {{ count }} entries
	<ul>
		<li ng-repeat='entry in listings'>
			<h3>{{ entry.companyName }}</h3>
			<small><a href='#/edit/{{entry._id}}' ng-click='init(entry._id)'>edit</a> // <a href='#/view/{{entry._id}}'>read</a>
	</ul>
</div>