<div class='grid-100'>
	<h2 class='page-header'>
		Company Directory
		<a ng-hide="unclaimed" href='#/create' class='btn btn-large btn-primary pull-right'>Add Your Company</a>
	</h2>
</div>

<div ng-repeat='entry in listings' class='listing-entry ' ng-click='viewEntry(entry._id)'>
	<div class='business-card'>
		<img ng-show='entry.isHiring' class='business-card-hiring' src='/images/hiring.png'/>
		<a href='#/view/{{entry._id}}'><img  class='business-card-image' src='{{entry.imageUrl}}' /></a>
		<button class="btn btn-large btn-success" ng-show='!entry.creatorId && unclaimed' ng-click='claim(entry._id)'>this is my company</button>
	</div>
</div>
