<div class='listing-view'>
<div>
<div ng-show='item.error' class='alert alert-error'>{{ item.error }}</div>


<h2 class='page-header'>
	{{ item.companyName }}<br/>
	<a class="btn btn-large btn-success" ng-show='item.isHiring || item.hasInternships' href='{{item.hiringUrl}}'>
		Hiring {{!item.hasInternships ? "" : "(Internships Available)"}}
	</a>
</h2>

<fieldset>
	<div class='grid-100 grid-parent'>
		<div class='grid-20'><img class='business-card-image-view' ng-src='{{item.imageUrl}}'/></div>
		<ul class='unstyled grid-80'>

			<li ng-show='item.companyName && item.foundingYear' class='muted list-item-header'>
			About {{ item.companyName }}
			</li>
			<li ng-show='item.phrase' class="company-phrase" ng-bind-html-unsafe=item.phrase>
			</li>
				<dl>
					<dt ng-show='item.foundingYear && item.companyName'> Founded </dt>
					<dd ng-show='item.foundingYear && item.companyName'> {{ item.foundingYear }} </dd>
					<dt ng-show='item.founders && item.founders[0].name'> Founders </dt>
					<dd ng-show='item.founders && item.founders[0].name'>
						<span ng-repeat='founder in item.founders'>
							{{founder.name}}
							<span ng-show='founder.title'>
								({{founder.title}})
							</span>
							<br/>
						</span>
					</dd>
					<dt ng-show="item.companyType"> Company Type </dt>
					<dd ng-show="item.companyType"> {{ item.companyType }} </dd>
					<dt ng-show="item.industryFocus.option"> Focusing On </dt>
					<dd ng-show="item.industryFocus.option"> {{item.industryFocus.option}} <span ng-show='item.industryFocus.option == "Other"'>{{ (item.industryFocus.description) }}</span></dd>
					<dt ng-show='item.primaryCustomer'> Market </dt>
					<dd ng-show='item.primaryCustomer'> {{item.primaryCustomer}} </dt>
					<dt ng-show="item.productTypes"> Products </dt>
					<dd ng-show="item.productTypes"> 
						<span ng-repeat='product in item.productTypes'>
							<span ng-show='product.value && product.productType'>
								{{ product.productType }}
								<span ng-show='product.productType == "Other"'>
									({{ item.productTypesOtherDescription}})
								</span>
								<br/>
							</span>
						</span> 
					</dd>
					<dt ng-show='item.changeTheWorld'>How {{ item.companyName }} will change the world</dt>
					<dd ng-show='item.changeTheWorld'>{{ item.changeTheWorld }}</dd>
					<dt ng-show='item.somethingAwesome'>Something awesome about {{ item.companyName }}</dt>
					<dd ng-show='item.somethingAwesome'>{{ item.somethingAwesome }}</dd>
				</dl>
		</ul>
	</div>


</fieldset>

<fieldset>
	<legend>{{ item.companyName }}'s stats</legend>
	<dl>
		<dt ng-show='item.fundingRound' >Last funding round</dt>
		<dd ng-show='item.fundingRound'>{{ item.fundingRound }}</dd>

		<dt ng-show='item.totalRaised' >Total raised</dt>
		<dd ng-show='item.totalRaised'>{{item.totalRaised}}</dd>

		<dt ng-show='item.annualRevenue' >Annualized Revenue</dt>
		<dd ng-show='item.annualRevenue'>{{item.annualRevenue}}</dd>

		<dt ng-show='item.incubatorName' >Took place in incubator/accelerator</dt>
		<dd ng-show='item.incubatorName'>{{item.incubatorName}}</dd>

		<dt ng-show='item.milestone' >Last traction milestone</dt>
		<dd ng-show='item.milestone'>{{item.milestone}}</dd>

		<dt ng-show='item.fulltimeTeamSize' >Fulltime total</dt>
		<dd ng-show='item.fulltimeTeamSize'>{{item.fulltimeTeamSize}}</dd>

		<dt ng-show='item.fulltimeTeamSizeOk' >Fulltime in OK</dt>
		<dd ng-show='item.fulltimeTeamSizeOk'>{{item.fulltimeTeamSizeOk}}</dd>

		<dt ng-show='item.developmentOk' >Tech developed in OK</dt>
		<dd ng-show='item.developmentOk'>{{item.developmentOk}}%</dd>
	</dl>
</fieldset>

<fieldset>
	<legend>Contact</legend>
	<ul class='unstyled'>
		<li class='muted list-item-header'>On the web</li>
		<li class='indented' ng-show='item.websiteUrl'><i class='icon-globe'></i> <a href='{{ item.websiteUrl }}' target='_blank'>{{ item.websiteUrl }}</a></li>
		<li class='indented' ng-show='item.twitterHandle'><i class='icon-twitter'></i> <a href='{{ "http://twitter.com/" + item.twitterHandle }}' target='_blank'>{{ item.twitterHandle }}</a></li>
		<li class='indented' ng-show='item.linkedInUrl'><i class='icon-linkedin'></i> <a href='{{ item.linkedInUrl }}' target='_blank'>{{ item.linkedInUrl }}</a></li>
		<li class='indented' ng-show='item.angellistUrl'><i class='icon-external-link'></i> <a href='{{ item.angellistUrl }}' target='_blank'>{{ item.angellistUrl }}</a></li>

		<li class='muted list-item-header'>In Oklahoma</li>
		<li class='indented' ng-show='item.address'>
			<address>
				<span ng-show='item.companyName'><strong>{{ item.companyName }}</strong></span><br/>
				<span ng-show='item.address.line1'>{{ item.address.line1 }}<br/></span>
				<span ng-show='item.address.line2'>{{ item.address.line2 }}<br/></span>
				<span ng-show='item.address.city'>{{ item.address.city }}</span>
			</address>
		</li>

		<li class='muted list-item-header'>For Jobs</li>
		<li class='indented' ng-show='item.hiringUrl'><i class='icon-globe'></i> <a href='{{ item.hiringUrl }}'>{{ item.hiringUrl }}</a></li>
		<li class='indented' ng-show='item.hiringEmail'><i class='icon-envelope'></i> {{ item.hiringEmail }}</li>
		<li class='indented' ng-show='item.hiringPhone'><i class='icon-phone'></i> {{ item.hiringPhone }}</li>
	</ul>
</fieldset>
</div>
</div>
<a href='#/'>&larr; See all listings</a>