<div ng-show='item.error' class='alert alert-error'>{{ item.error }}</div>

<h2 class='page-header'>
	{{ item.companyName }}
	<small ng-show='item.isHiring' class='label label-success'>Hiring</small>
	<small ng-show='item.hasInternships' class='label label-success'>Internships Available</small><br/>
	<span ng-show='item.phrase' class='muted company-phrase'>"{{ item.phrase }}"</span>
</h2>

<fieldset>
	
	<ul class='unstyled'>

		<li ng-show='item.companyName && item.foundingYear' class='muted list-item-header'>About {{ item.companyName }}</li>
		<li ng-show='item.companyName && item.foundingYear' class='indented'>
			<p>
				<span ng-show='item.foundingYear && item.companyName'>
					Founded in <strong>{{ item.foundingYear }}</strong>
					<span ng-show='item.founders'>by 
						<span ng-repeat='founder in item.founders'>
							<strong>{{ founder.name }}</strong> <span ng-show='founder.title'>({{founder.title}})</span>{{$last ? '' : $last - 1 ? ' and ' : ', ' }}</span></span>, {{ item.companyName }} 

					is a<span ng-show='isVowel(item.companyType[0])'>n</span> <strong>{{ item.companyType | lowercase}}</strong> company</span><span ng-show='item.industryFocus'>, focusing in the
					<strong ng-show='item.industryFocus.option != "Other"'>{{ item.industryFocus.option | lowercase}}</strong>
					<strong ng-show='item.industryFocus.option == "Other"'>{{ item.industryFocus.description | lowercase}} </strong>
					industry.
				</span>
				<span ng-show='!item.industryFocus'>.</span>

				<span ng-show='item.companyName && item.productTypes'>
					{{ item.companyName }} makes 
					<span ng-repeat='product in item.productTypes'>
						<span ng-show='product.value && product.productType'>
							<strong>
							{{ product.productType | lowercase }}
							<span ng-show='product.productType == "Other"'>({{ item.productTypesOtherDescription | lowercase}})</span>
							</strong>{{$last ? '' : $last - 1 ? ' and ' : ', '}}
						</span>
					</span> products.
				</span>

				<span ng-show='item.primaryCustomer'>{{item.companyName}}'s primary customer type is <strong>{{item.primaryCustomer | lowercase}}</strong>.</span>
			</p>
		</li>

		<li ng-show='item.changeTheWorld' class='muted list-item-header'>How {{ item.companyName }} will change the world</li>
		<li ng-show='item.changeTheWorld' class='indented'><p>{{ item.changeTheWorld }}</p></li>

		<li ng-show='item.somethingAwesome' class='muted list-item-header'>Something awesome about {{ item.companyName }}</li>
		<li ng-show='item.somethingAwesome' class='indented'><p>{{ item.somethingAwesome }}</p></li>
	</ul>



</fieldset>

<fieldset>
	<legend>{{ item.companyName }}'s stats</legend>
	<dl class='dl-horizontal'>
		<dt ng-show='item.fundingRound'>Last funding round</dt>
		<dd ng-show='item.fundingRound'>{{ item.fundingRound }}</dd>

		<dt ng-show='item.totalRaised'>Total raised</dt>
		<dd ng-show='item.totalRaised'>{{item.totalRaised}}</dd>

		<dt ng-show='item.annualRevenue'>Annualized Revenue</dt>
		<dd ng-show='item.annualRevenue'>{{item.annualRevenue}}</dd>

		<dt ng-show='item.incubatorName'>Took place in incubator/accelerator</dt>
		<dd ng-show='item.incubatorName'>{{item.incubatorName}}</dd>

		<dt ng-show='item.milestone'>Last traction milestone</dt>
		<dd ng-show='item.milestone'>{{item.milestone}}</dd>

		<dt ng-show='item.fulltimeTeamSize'>Fulltime total</dt>
		<dd ng-show='item.fulltimeTeamSize'>{{item.fulltimeTeamSize}}</dd>

		<dt ng-show='item.fulltimeTeamSizeOk'>Fulltime in OK</dt>
		<dd ng-show='item.fulltimeTeamSizeOk'>{{item.fulltimeTeamSizeOk}}</dd>

		<dt ng-show='item.developmentOk'>Tech developed in OK</dt>
		<dd ng-show='item.developmentOk'>{{item.developmentOk}}%</dd>
	</dl>
</fieldset>

<fieldset>
	<legend>Contact</legend>
	<ul class='unstyled'>
		<li class='muted list-item-header'>On the web</li>
		<li class='indented' ng-show='item.websiteUrl'><i class='icon-globe'></i> <a href='{{ item.websiteUrl }}' target='_blank'>{{ item.websiteUrl }}</a></li>
		<li class='indented' ng-show='item.twitterHandle'><i class='icon-twitter'></i> <a href='{{ item.twitterHandle }}' target='_blank'>{{ item.twitterHandle }}</a></li>
		<li class='indented' ng-show='item.linkedInUrl'><i class='icon-linkedin'></i> <a href='{{ item.linkedInUrl }}' target='_blank'>{{ item.linkedInUrl }}</a></li>
		<li class='indented' ng-show='item.angellistUrl'><i class='icon-external-link'></i> <a href='{{ item.angellistUrl }}' target='_blank'>{{ item.angellistUrl }}</a></li>

		<li class='muted list-item-header'>In Oklahoma</li>
		<li class='indented' ng-show='item.address'>
			<address>
				<span ng-show='item.companyName'><strong>{{ item.companyName }}</strong></span><br/>
				<span ng-show='item.address.line1'>{{ item.address.line1 }}<br/></span>
				<span ng-show='item.address.line2'>{{ item.address.line2 }}<br/></span>
				<span ng-show='item.address.city'>{{ item.address.city }}</span>
			</address>
		</li>

		<li class='muted list-item-header'>For Jobs</li>
		<li class='indented' ng-show='item.hiringUrl'><i class='icon-globe'></i> <a href='{{ item.hiringUrl }}'>{{ item.hiringUrl }}</a></li>
		<li class='indented' ng-show='item.hiringEmail'><i class='icon-envelope'></i> {{ item.hiringEmail }}</li>
	</ul>
</fieldset>


<a href='#/'>&larr; See all listings</a>