<!-- 
  watch this: http://www.youtube.com/watch?v=WxmcDoAxdoY 
-->
<!doctype html>
<meta charset='utf8'>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%= title %></title>
<script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js'></script>
<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>

<!-- dont try to bundle your jQuery -->
<script type='text/javascript' src='/javascripts/ckeditor/ckeditor.js'></script>
<script type='text/javascript' src='/javascripts/ckeditor/adapters/jquery.js'></script>

<%- cake.js(
  './public/lib/angular.min.js', 
  './public/lib/angular-cookies.min.js',
  './public/lib/angular-resource.js',
  './public/lib/lodash.min.js',

  './public/javascripts/services.js',
  './public/javascripts/SessionMaster.js',

  './public/javascripts/controllers/listings/ListingEditorCtrl.js',
  './public/javascripts/controllers/listings/ListingIndexCtrl.js',
  './public/javascripts/controllers/listings/ListingCreateCtrl.js',
  './public/javascripts/controllers/listings/ListingEditCtrl.js',
  './public/javascripts/controllers/listings/ListingViewCtrl.js',
  './public/javascripts/controllers/listings/app.js',

  './public/javascripts/controllers/account/AccountSessionCtrl.js',
  './public/javascripts/controllers/account/AccountIndexCtrl.js',
  './public/javascripts/controllers/account/AccountCreateCtrl.js',
  './public/javascripts/controllers/account/app.js',

  './public/javascripts/controllers/blog/BlogIndexCtrl.js',
  './public/javascripts/controllers/blog/BlogEditorCtrl.js',
  './public/javascripts/controllers/blog/BlogCreateCtrl.js',
  './public/javascripts/controllers/blog/BlogEditCtrl.js',
  './public/javascripts/controllers/blog/BlogViewCtrl.js',
  './public/javascripts/controllers/blog/app.js',

  './public/javascripts/controllers/home/HomeIndexCtrl.js',
  './public/javascripts/controllers/home/HomeAboutCtrl.js', 
  './public/javascripts/controllers/home/HomeContactCtrl.js',
  './public/javascripts/controllers/home/app.js',

  './public/javascripts/controllers/events/EventIndexCtrl.js',
  './public/javascripts/controllers/events/EventEditorCtrl.js',
  './public/javascripts/controllers/events/EventCreateCtrl.js',
  './public/javascripts/controllers/events/EventEditCtrl.js',
  './public/javascripts/controllers/events/EventViewCtrl.js',
  './public/javascripts/controllers/events/app.js'
) %>


<link rel='stylesheet' href='/stylesheets/style.css' />
<link rel='stylesheet' href='/stylesheets/font-awesome.css' />
<link rel='stylesheet' href='/stylesheets/unsemantic-grid-responsive.css' />
<style>
  .above-navbar{
    background-color: white;
    color: white;
  }
  .above-navbar img{
    height: 150px;
  }
  .brand{
    padding: 0 20px 0 25px!important;
  }
</style>

<body>
	<!-- navigation -->
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
     	  <button class="btn btn-navbar" type="button" data-toggle="collapse" data-target=".nav-collapse">
   		    <span class="icon-bar"></span>
		      <span class="icon-bar"></span>
		      <span class="icon-bar"></span>
	      </button>
        <a class=brand href="/home/">
          <img src="/images/MadeInOkLogo.png"/>
        </a>
    	  <div class="nav-collapse in collapse">
	        <ul class="nav">
	          <li>
    			   <a href="/listing">companies</a>
	          </li>
	          <li>
    			   <a href="/event/">events</a>
	          </li>
	          <li>
    			   <a href="/news/">blog</a>
	          </li>
            <li>
              <a href="/account/">my account</a>
            </li>
	        </ul>
    	  </div>
        </div>
      </div>
    </div>

    <!-- we put all of the angular views inside of the page-wrapper class -->
    <div class="page-wrapper">
    	<div ng-app="<%= appName %>">
      <% if(appName != "HomeApp"){ %>
        <div class="container">
          <div ng-view>
          </div>    
        </div>    
      <% } else { %>
        <div ng-view>
        </div>  
      <% } %>
	    </div>
    </div>
</body>

<!-- Le bootstrap javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/javascripts/bootstrap/bootstrap-transition.js"></script>
<script src="/javascripts/bootstrap/bootstrap-alert.js"></script>
<script src="/javascripts/bootstrap/bootstrap-modal.js"></script>
<script src="/javascripts/bootstrap/bootstrap-dropdown.js"></script>
<script src="/javascripts/bootstrap/bootstrap-scrollspy.js"></script>
<script src="/javascripts/bootstrap/bootstrap-tab.js"></script>
<script src="/javascripts/bootstrap/bootstrap-tooltip.js"></script>
<script src="/javascripts/bootstrap/bootstrap-popover.js"></script>
<script src="/javascripts/bootstrap/bootstrap-button.js"></script>
<script src="/javascripts/bootstrap/bootstrap-collapse.js"></script>
<script src="/javascripts/bootstrap/bootstrap-carousel.js"></script>
<script src="/javascripts/bootstrap/bootstrap-typeahead.js"></script>
