<!-- 
  watch this: http://www.youtube.com/watch?v=WxmcDoAxdoY 
-->
<!doctype html>
<meta charset='utf8'>
<title><%= title %></title>

<script type='text/javascript' src='/lib/angular.min.js'></script>
<script type='text/javascript' src='/lib/angular-ui.min.js'></script>			<!-- bootstrappy elements -->
<script type='text/javascript' src='/lib/angular-ui-tpls.min.js'></script>		<!-- templates for those elements -->
<script type='text/javascript' src='/lib/angular-cookies.min.js'></script>		<!-- to access cookies -->
<script type='text/javascript' src='/lib/angular-resource.js'></script>			<!-- to be able to create resources -->
<script type='text/javascript' src='/lib/lodash.min.js'></script>				<!-- nice array things -->

<!-- THESE ARE IMPORTED FROM CALE CODE, CDN FOR PRODUCTION -->
<!-- we have to include jquery because bootstrap is using it. go figure. -->
<script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js'></script> 
<!-- <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/angular-ui/0.4.0/angular-ui.min.js'></script> fast cdn for angular-ui.min.js -->


<!-- Angular Globals -->
<script type='text/javascript' src='/javascripts/services.js'></script>
<script type='text/javascript' src='/javascripts/SessionMaster.js'></script>

<!-- Listings App -->
<script type='text/javascript' src='/javascripts/controllers/listings/ListingEditorCtrl.js'></script>
<script type='text/javascript' src='/javascripts/controllers/listings/ListingIndexCtrl.js'></script>
<script type='text/javascript' src='/javascripts/controllers/listings/ListingCreateCtrl.js'></script>
<script type='text/javascript' src='/javascripts/controllers/listings/ListingEditCtrl.js'></script>
<script type='text/javascript' src='/javascripts/controllers/listings/ListingViewCtrl.js'></script>
<script type='text/javascript' src='/javascripts/controllers/listings/app.js'></script>

<!-- Account App -->
<script type='text/javascript' src='/javascripts/controllers/account/AccountSessionCtrl.js'></script>
<script type='text/javascript' src='/javascripts/controllers/account/AccountIndexCtrl.js'></script>
<script type='text/javascript' src='/javascripts/controllers/account/AccountCreateCtrl.js'></script>
<script type='text/javascript' src='/javascripts/controllers/account/app.js'></script>

<!-- Blog App -->
<script type='text/javascript' src='/javascripts/controllers/blog/BlogIndexCtrl.js'></script>
<script type='text/javascript' src='/javascripts/controllers/blog/BlogEditorCtrl.js'></script>
<script type='text/javascript' src='/javascripts/controllers/blog/BlogCreateCtrl.js'></script>
<script type='text/javascript' src='/javascripts/controllers/blog/BlogEditCtrl.js'></script>
<script type='text/javascript' src='/javascripts/controllers/blog/BlogViewCtrl.js'></script>
<script type='text/javascript' src='/javascripts/controllers/blog/app.js'></script>
	<!-- Blog App Required Resources -->
    <script type='text/javascript' src="/javascripts/ckeditor/ckeditor.js"></script>
    <script src="/javascripts/ckeditor/adapters/jquery.js"></script>

<!-- Event App -->
<script type='text/javascript' src='/javascripts/controllers/events/EventIndexCtrl.js'></script>
<script type='text/javascript' src='/javascripts/controllers/events/EventEditorCtrl.js'></script>
<script type='text/javascript' src='/javascripts/controllers/events/EventCreateCtrl.js'></script>
<script type='text/javascript' src='/javascripts/controllers/events/EventEditCtrl.js'></script>
<script type='text/javascript' src='/javascripts/controllers/events/EventViewCtrl.js'></script>
<script type='text/javascript' src='/javascripts/controllers/events/app.js'></script>

<!-- Home App -->
<script type='text/javascript' src='/javascripts/controllers/home/HomeIndexCtrl.js'></script>
<script type='text/javascript' src='/javascripts/controllers/home/HomeAboutCtrl.js'></script>
<script type='text/javascript' src='/javascripts/controllers/home/HomeContactCtrl.js'></script>
<script type='text/javascript' src='/javascripts/controllers/home/app.js'></script> <!-- doesnt exist yet -->


<link rel='stylesheet' href='/stylesheets/style.css' />
<link rel='stylesheet' href='/stylesheets/font-awesome.css' />
<link rel='stylesheet' href='/stylesheets/unsemantic-grid-responsive.css' />

<body>
	<!-- navigation -->
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
       	  <button class="btn btn-navbar" type="button" data-toggle="collapse" data-target=".nav-collapse">
   		    <span class="icon-bar"></span>
		    <span class="icon-bar"></span>
		    <span class="icon-bar"></span>
	      </button>
	      <a class="brand" href="/#/home/index">Greg we need a logo</a>
      	  <div class="nav-collapse in collapse">
	        <ul class="nav">
	          <li>
    			   <a href="/listing/">businesses</a>
	          </li>
	          <li>
    			   <a href="/event/">events</a>
	          </li>
	          <li>
    			   <a href="/blog/">blog</a>
	          </li>
            <li>
              <a href="/account/">my account</a>
            </li>
	        </ul>
    	  </div>
        </div>
      </div>
    </div>

    <!-- we put all of the angular views inside of the page-wrapper class -->
    <div class="page-wrapper">
    	<div ng-app="<%= appName %>">
		    <div ng-view>
		    </div>
	    </div>
    </div>
</body>

<!-- Le bootstrap javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!-- f**k these errors -->
<script src="/javascripts/bootstrap/bootstrap-transition.js"></script>
<script src="/javascripts/bootstrap/bootstrap-alert.js"></script>
<script src="/javascripts/bootstrap/bootstrap-modal.js"></script>
<script src="/javascripts/bootstrap/bootstrap-dropdown.js"></script>
<script src="/javascripts/bootstrap/bootstrap-scrollspy.js"></script>
<script src="/javascripts/bootstrap/bootstrap-tab.js"></script>
<script src="/javascripts/bootstrap/bootstrap-tooltip.js"></script>
<script src="/javascripts/bootstrap/bootstrap-popover.js"></script>
<script src="/javascripts/bootstrap/bootstrap-button.js"></script>
<script src="/javascripts/bootstrap/bootstrap-collapse.js"></script>
<script src="/javascripts/bootstrap/bootstrap-carousel.js"></script>
<script src="/javascripts/bootstrap/bootstrap-typeahead.js"></script>
