<!-- 
  watch this: http://www.youtube.com/watch?v=WxmcDoAxdoY 
-->
<!doctype html>
<meta charset='utf8'>
<title><%= title %></title>

<script type='text/javascript' src='/lib/angular.min.js'></script>
<script type='text/javascript' src='/lib/angular-ui.min.js'></script>			<!-- bootstrappy elements -->
<script type='text/javascript' src='/lib/angular-ui-tpls.min.js'></script>		<!-- templates for those elements -->
<script type='text/javascript' src='/lib/angular-cookies.min.js'></script>		<!-- to access cookies -->
<script type='text/javascript' src='/lib/angular-resource.js'></script>			<!-- to be able to create resources -->
<script type='text/javascript' src='/lib/lodash.min.js'></script>				<!-- nice array things -->

<script type='text/javascript' src='/javascripts/services.js'></script>


<!-- Listings App -->
<script type='text/javascript' src='/javascripts/controllers/listings/EditorCtrl.js'></script>
<script type='text/javascript' src='/javascripts/controllers/listings/ListingCtrl.js'></script>
<script type='text/javascript' src='/javascripts/controllers/listings/CreateCtrl.js'></script>
<script type='text/javascript' src='/javascripts/controllers/listings/EditCtrl.js'></script>
<script type='text/javascript' src='/javascripts/controllers/listings/ViewCtrl.js'></script>
<script type='text/javascript' src='/javascripts/list-app.js'></script>

<link rel='stylesheet' href='/stylesheets/style.css' />
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
<body ng-app='StartupApp'>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
	    	<div class="container">
	 
				<!-- .btn-navbar is used as the toggle for collapsed navbar content -->
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
	 
				<!-- Be sure to leave the brand out there if you want it shown -->
				<a class="brand" href="#"><%=title%></a>

				<!-- Everything you want hidden at 940px or less, place within here -->
				<div class="nav-collapse collapse">
				<!-- .nav, .navbar-search, .navbar-form, etc -->
				</div>
	 
			</div>
		</div>
	</div>

    <!-- partials load here -->
    <div class='row-fluid'>
    	<div class='span12'>
		    <div ng-view>
		    </div>
		</div>
	</div>