<!DOCTYPE html>
<meta charset='utf8'>
<title><%= title %></title>
<script type='text/javascript' src='/lib/angular.min.js'></script>
<script type='text/javascript' src='/lib/angular-cookies.min.js'></script>
<link rel='stylesheet' href='/stylesheets/style.css' />
<body>
	<h1><%= title %></h1>
    <p>Welcome to <%= title %></p>