body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

// When inputs should be grouped, make them look like 1 cohesive unit.
.input-group:first-of-type {
	border-bottom: 0;
	border-radius: 4px 4px 0 0 !important;
}

.input-group {
	border-radius: 0 !important;
}

.input-group:last-of-type {
	border-top: 0;
	border-radius: 0 0 4px 4px !important;
}