  ////////////////////////////////////////
 /////// TRISTIN'S ORIGINAL LESS ////////
////////////////////////////////////////


.page-header { border-bottom-color: @accentColor !important; }
legend { border-bottom-color: #333 !important; }

.hiring {
	margin: 0 0.3em;
}

// When inputs should be grouped, make them look like 1 cohesive unit.
.input-group:first-of-type {
	border-bottom: 0;
	border-radius: 4px 4px 0 0 !important;
}

.input-group {
	border-radius: 0 !important;
}

.input-group:last-of-type {
	border-top: 0;
	border-radius: 0 0 4px 4px !important;
}

.list-item-header:first-of-type {
	margin-top: 0;
}

.list-item-header {
	margin-top: 1.0em;
}

ul > .indented {
	margin-left: 1.0em;
}

.company-phrase {
	font-size: 0.5em;
	font-style: italic;
}

.listing-entry {
	cursor: pointer;
 
	h3 { margin: 0; color: @contrastColor; }
	.lead { margin: 0; color: darken(@contrastColor, 20%); }
	.see-more { }
}

.listing-entry:hover {
	h3 { color: lighten(@contrastColor, 3%); }
	.lead { color: darken(@contrastColor, 17%); }
}

.business-card {
	text-align: center;

	img { max-width: 350px; border: 1px solid #222; margin: 0.8em; }
}

.business-card-image { border: 1px solid #222; }


  ////////////////////////////////////////
 /////// CALE'S UPGRAYEDDED LESS ////////
////////////////////////////////////////

//load bootstraps
@import "less/bootstrap/bootstrap-responsive.less";


//------home page------//
////////////////////////
.event-left, event-right{
	display: table-cell;
	float:left;
	height: 100%;
	padding: 5px;
}
.event-left{
	padding-right: 10px;
	text-align: center;
	vertical-align: middle;
}

.event-right{
	h1,h2,h3,h4,h5,h6{
		margin: 5px 0px;
	}
	overflow: hidden;
}
.events-wrapper{
	height: 600px;
}
.event{
	width: 100%;
	display: table;
	min-height: 100px;
	padding: 0px;
	padding-top: 7px;
	padding-bottom: 6px;
	border: solid 0 darken(@bodyBackground, 5%);
	border-bottom-width: 1px;
	//border-radius: 4px;
	color: @textColor;
	h1,h2,h3,h4,h5,h6{
		color: @primaryColor;
	}
	&:hover{
		cursor: pointer;
		color: @primaryColor;
		h1,h2,h3,h4,h5,h6{
			color: @accentColor;
		}
	}
}
.event:last-of-type{
	border-bottom-width: 0;
}
.event-description{
	float: left;
	padding: 15px;
}
.homepage-top{
	min-height: 710px;
}

.homepage-tiles{
	width: 100%;
	padding: 15px 0;
	background-color: @bodyBackground;
	overflow: hidden;
}

.homepage-bottom{
	text-align: center;
	color: white;
	overflow: hidden;
	background-color: @contrastColor;
	padding: 15px 0;
}

//------about styles------//
///////////////////////////
	.info-wrapper{

	}
	.info-label{
		text-align: left;
		color: @thunderYellow;
		margin: 0 5px 0 5px;
	}
	.info-text{
		font-size: 21px;
		line-height: 30px;
		text-align: left;
		color: @grayLight;
		margin: 0 5px 25px 5px;
	}

//------page stuff------//
/////////////////////////
.page-wrapper{
	font-weight: 200;
	margin-top: @navbarHeight + 5;
	@media (max-width: @navbarCollapseWidth) {
		margin-top: -15px;
	}
}

.classic-letterpress{
    text-shadow: 0px 1px 1px lighten(@bodyBackground, 75%);
    color: darken(@bodyBackground, 7%);
}

.center-text{
	margin-left:auto;
	margin-right:auto;
	display: block;
	text-align: center;
}
.image-center-wrapper{
	width: 100%;
	height: 100%;
	clear: both;
	position:relative;
}
.center-image{
	height: auto;
	padding: 0;	
	width: 50%;
	overflow: auto;
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

//------blog stuff------//
/////////////////////////
.blog-wrapper{
	border-radius: 5px;
	overflow: hidden;
}

.create-blog-wrapper{
	button{
		margin-bottom: 5px;
	}
}

.blog-post{
	background-color: darken(@bodyBackground, 3%);
	color: @thunderDarkBlue;
	margin: 0px;
	border: none 5px;
	border-bottom-color: @primaryColor;
	border-bottom-style: solid;
	border-top-color: @accentColor;
	border-top-style: solid;
	margin-bottom: 2px;
	position: relative;
}

.delete-post{
	position: absolute;
	right: 0;
	top: 0;
	margin-right: 15px;
	margin-top: 5px;
	color: @sortaRed;
	cursor: pointer;
	&:hover{
		color: darken(@sortaRed, 15%);
	}
}

.blog-header{
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 15px;
}

.writer-name{
	font-weight: 200;
}
.blog-date{
	font-weight: 200;
}

.blog-body{
	background-color: @bodyBackground;
	padding: 10px;
	border-radius: 5px;
	margin-bottom: 10px;
	margin-left: 15px;
	margin-right: 15px;
	color: @gray;
	font-size: 18px;
	font-weight: 200;
}
.blog-image{
	width: 100%;
	height: 200px;
	position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 0;
}
.preview-wrapper{
	overflow: hidden;
	box-shadow: inset 1px @primaryColor;
}

//---- Homepage blog stuff ----//
////////////////////////////////
.blog{
		height: 200px;
		position: relative;
	    background-size: cover;
	    background-repeat: no-repeat;
	    background-position: center 0;
	    margin-top: 16px;

	    &:hover{
	    	cursor: pointer;

	    	.blog-text{
				background-color: rgba(20, 20, 20, .82);
			}
			.blog-title{
				color: @accentColor;
			}
	    }

	&.featured-blog{

			h3{
				font-size: 36px!important;
				padding: 15px 5px 0 5px;
			}

	}
	.blog-text{
		background-color: rgba(20, 20, 20, .8);
		position: absolute;
		width: 100%;
		bottom: 0;
		left:0 ;
		height: 40%;
		text-align: left;
		margin: 0;
	}
	.blog-title{
		font-weight: 200;
		cursor: pointer;
		text-align: center;
		text-transform: lowercase;
		margin: 0;
		padding: 18px 5px 0 5px;
		line-height: 35px;
		overflow: hidden;
		height: 70px;
		color: @bodyBackground;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.blog-preview{
		overflow: hidden;
		height: 40px;
		padding-left: 5px;
		padding-right: 5px;
		text-align: center;
		z-index: 5;
	}
}

//------ Event Stuff ------//
////////////////////////////
.time-select{
	width: 75px;
}
.create-event-wrapper{
	button{
		margin-bottom: 5px;
	}
}
.event-image{
	height: 100px;
	width: 100px;
}

//------ Homepage Listing ------//
/////////////////////////////////
.listing{
	position: relative;
	height: 200px;
	border: solid 1px @primaryColor;
	margin-top: 15px;
	&:hover{
		cursor: pointer;
		box-shadow: 0 0 5px @primaryColor;
	}
}

.listing-image{
	margin: auto;
	position: absolute;
	top: 0px; bottom: 0px; left: 0px; right: 0px;
	width: auto;
  	height: 70%;
  	max-height: 100%;
}