<div class="homepage-top">
			<div class="wrapper100">
				<div class="alert alert-info" style="margin-bottom:0;">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					<strong>Hello!</strong> Thanks for checking out madeinok.co. You should register to stay up to date with the latest goings on in the Oklahoma tech community.
					<br/>
					<button type="button" class="btn btn-primary" onclick="location.href='/account/#/create'">register</button>

				</div>
			</div>

			<div class="wrapper50">
				<div ng-repeat="event in events" class="event">
					<div class="event-left"> 
						<div class="logo-wrapper">
							<div class="image-center-wrapper">
								<img class="center-image" src={{event.imageUrl}}>
							</div>
						</div>
					</div>
					<div class="event-right">
						<h4>{{event.title}}</h4>
						{{event.date}}
						<p>{{event.description.substring(0,85) + "..."}}</p>
					</div>
				</div>
			</div>

			<div class="wrapper50">
				<div ng-repeat="event in events" class="event">
					<div class="event-left"> 
						<div style="height: 100px">
							<div class="image-center-wrapper">
								<span></span>
								<img class="center-image" src={{event.imageUrl}}>								
							</div>
						</div>
					</div>
					<div class="event-right">
						<h4>{{event.title}}</h4>
						{{event.date}}
						<p>{{event.description.substring(0,85) + "..."}}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="homepage-tiles">
	<!-- navigation tiles -->
	<button class="tile tile-accent" onclick='location.href="/#/listings";'>
		Businesses
	</button>
	<button class="tile tile-accent" onclick='location.href="/#/people";'>
		People
	</button>
	<button class="tile tile-accent" onclick='location.href="/#/events";'>
		Events
	</button>
	<button class="tile tile-accent" onclick='location.href="/#/blog";'>
		Blog
	</button>
</div>


<div class="homepage-bottom">
	<div class="wrapper25"> 
		<div class="image-center-wrapper">
			<img class="oklahoma-element" src="images/Oklahoma_Element.png" alt="Oklahoma"/>
		</div>
	</div>
	<div class="wrapper50">
		<p class="about-text">{{blurb}}</p>
	</div>
	<div class="wrapper25">
		<div class="image-center-wrapper">
			<p>BROUGHT TO YOU BY</p>
			<img class="bolt-studios-logo" src="images/BoltStudios.png" alt="Bolt Studios"/>
		</div>
		<div class="image-center-wrapper">
			<p>THE R&amp;D DIVISION OF</p>
			<img class="mtm-recognition-logo" src="images/mtmrecognition.png" alt="MTM Recognition"/>
		</div>
	</div>
</div>


