<style>
	.homepage-tiles{
		width: 100%;
		overflow: hidden;
	}
</style>

<div class="homepage-top">
			<div class="wrapper100">
				<h1> register text </h1>
			</div>

			<div class="wrapper50">
				<div ng-repeat="event in events" class="event">
					<div class="event-left"> 
						<div class="logo-wrapper">
							<div class="image-center-wrapper">
								<img src={{event.imageUrl}}>
							</div>
						</div>
					</div>
					<div class="event-right">
						<h4>{{event.title}}</h4>
						{{event.date}}
						<p>{{event.description.substring(0,100) + "..."}}</p>
					</div>
				</div>
			</div>

			<div class="wrapper50">
				<div ng-repeat="event in events" class="event">
					<div class="event-left"> 
						<div class="logo-wrapper">
							<div class="image-center-wrapper">
								<img src={{event.imageUrl}}>
							</div>
						</div>
					</div>
					<div class="event-right">
						<h4>{{event.title}}</h4>
						{{event.date}}
						<p>{{event.description.substring(0,100) + "..."}}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="homepage-tiles">
	<!-- navigation tiles -->
	<button class="tile tile-primary" onclick='location.href="/#/listings";'>
		Businesses
	</button>
	<button class="tile tile-primary" onclick='location.href="/#/people";'>
		People
	</button>
	<button class="tile tile-primary" onclick='location.href="/#/events";'>
		Events
	</button>
	<button class="tile tile-primary" onclick='location.href="/#/blog";'>
		Blog
	</button>
</div>


<div class="homepage-bottom">
	<div class="wrapper25"> 
		<div class="image-center-wrapper">
			<img class="oklahoma-element" src="images/Oklahoma_Element.png" alt="Oklahoma"/>
		</div>
	</div>
	<div class="wrapper50">
		<p class="about-text">{{blurb}}</p>
	</div>
	<div class="wrapper25">
		<div class="bolt">
			BUILT BY BOLT
		</div>
		<div class="mtm">
			SPONSORED BY MTM
		</div>
	</div>
</div>


