<div class="homepage-top grid-100 grid-container">
			<div class="grid-60 grid-parent">
				<div class="grid-100">
				 	<div class="blog featured-blog" style="background-image: url('{{blogs[0].imageUrl || '/images/default_blog_image.png'}}');" 
					onclick='location.href="/blog/#/view/{{blogs[0]._id}}"'>
						<div class="blog-text">
							<h3 class="blog-title">{{blogs[0].title}}</h3>
						</div>		
					</div>				
				</div>
				<div class="grid-50 hide-on-mobile" ng-repeat="n in [1,4] | makeRange">
					<div class="blog" style="background-image: url('{{blogs[n].imageUrl || '/images/default_blog_image.png'}}');" 
					onclick='location.href="/blog/#/view/{{blogs[n]._id}}"'>
						<div class="blog-text">
							<h3 class="blog-title">{{blogs[n].shortTitle || "made in ok"}}</h3>
						</div>	
					</div>
				</div>
			</div>

			<div class="grid-40">
				<fieldset>
					<legend>upcoming events</legend>
					<div ng-repeat="n in [3] | makeRange" class="event" onclick='location.href="/event/#/view/{{events[n]._id}}"'>
						<div class="event-left"> 
							<img class="event-image" src="{{events[n].imageUrl || '/images/MadeInOK100x100.png' }}">								
						</div>
						<div class="event-right">
							<h3>{{events[n].title}}</h3>
							<h4>{{events[n].date | date:"EEE MMM dd"}}</h4>
							<span class="label label-info">{{events[n].date | date:"h:mm a"}}</span>
						</div>
					</div>
				</fieldset>
					<div class="listing" onclick='location.href="/listing/#/view/{{listings[0]._id}}"'>
						<img class="listing-image" src={{listings[0].imageUrl}} alt={{listings[0].companyName}}/>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="homepage-tiles">
	<!-- navigation tiles -->
	<button class="tile tile-accent" onclick='location.href="/listing";'>
		Companies
	</button>
	<button class="tile tile-accent" onclick='location.href="/event";'>
		Events
	</button>
	<button class="tile tile-accent" onclick='location.href="/blog";'>
		News
	</button>
	<button class="tile tile-accent" ng-click="scrollTo('about')">
		About
	</button>
</div>

<div id="about" class="homepage-bottom">
	<div class="wrapper25"> 
		<div class="image-center-wrapper">
			<img class="oklahoma-element" src="/images/Oklahoma_Element.png" alt="Oklahoma"/>
		</div>
		<div class="image-center-wrapper">
			<p> sponsored by </p>
			<img class="bolt-studios" src="/images/BoltStudios.png" alt="Oklahoma"/>
		</div>
	</div>
	<div class="wrapper75">
		<div class="info-wrapper">
			<h2 class="info-label">What is MadeInOK?</h2>
			<p class="info-text">
				We are a crowd-sourced, crowd-curated web community dedicated to developing 
				a central place where Oklahoma's innovators, makers, founders and creatives can come together. 
				We want to help you find local networking events, keep up to date on what's happening in the community, and connect with talent.
			</p>
		</div>
		<div class="info-wrapper">
			<h2 class="info-label">Why was MadeInOK started?</h2>
			<p class="info-text">
				Simply put, there was no centralized community for Oklahoma's self starters. 
				It was nearly impossible to learn what other people in the state were working on and what events were taking place. 
				We wanted to build a tool that would centralize this information, help everyone get to know everyone else in the community, and help us plan and find events.
				It is our hope that this community will grow and bring everyone together.
			</p>
		</div>
		<div class="info-wrapper">
			<h2 class="info-label">Who runs MadeInOK?</h2>
			<p class="info-text">
				I do. You do. We all do. We are an open-source cooperative dedicated to growing and improving this community.
				The entire <a href="https://github.com/BoltStudios/madeinok">source</a> for this website is available on Github and we operate under the <a href="http://www.mozilla.org/MPL/1.1/">MPL license</a>.
			</p>
		</div>		
		<div class="info-wrapper">
			<h2 class="info-label">What's with the design?</h2>
			<p class="info-text">I know, right? A dark theme would have been awesome... For serious though.</p>
			<p class="info-text" style="color:#007dc3;">
					We chose the color blue (#007dc3) from Oklahoma's flag. 
			</p>
			<p class="info-text" style="color:#F05133;">
					We chose the color orange (#F05133) from the Oklahoma City Thunder.
			</p>
			<p class="info-text">
					The logos were inspired by the periodic table because design work is strange.
					The number 46 was employed to make the logo further resemble an element, and because we were the 46th state to join the union. 
			</p>
			<p class="info-text" style="color:#444;">
						Fun fact: Palladium the actual 46th element was discovered in 1803 by William Hyde Wollaston. It was named after the asteroid Pallas, which was itself named after the epithet of the Greek goddess Athena, acquired by her when she slew Pallas. Athena was the Goddess of civilization, wisdom, inspiration, art, craft, and skill. 
			</p>
		</div>
	</div>
</div>


<script type='text/javascript' src='/lib/jquery.quickfit.js'></script>
<script>
  $(function() {
    //$('.blog-title').quickfit();
  });
</script>

