
	<div class="homepage-top grid-100 grid-container">
				<div class="grid-60 grid-parent">
					<div class="grid-100">
					 	<div class="blog featured-blog" style="background-image: url('{{blogs[0].imageUrl}}');" 
						onclick='location.href="/blog/#/view/{{blogs[0]._id}}"'>
							<div class="blog-text">
								<h3 class="blog-title">{{blogs[0].title}}</h3>
							</div>		
						</div>				
					</div>
					<div class="grid-50 hide-on-mobile" ng-repeat="n in [1,4] | makeRange">
						<div class="blog" style="background-image: url('{{blogs[n].imageUrl || '/images/default_blog_image.png'}}');" 
						onclick='location.href="/blog/#/view/{{blogs[n]._id}}"'>
							<div class="blog-text">
								<h3 class="blog-title">{{blogs[n].title}}</h3>
							</div>	
						</div>
					</div>
				</div>

				<div class="grid-40">
					<fieldset>
						<legend>upcoming events</legend>
						<div ng-repeat="n in [3] | makeRange" class="event" onclick='location.href="/event/#/view/{{events[n]._id}}"'>
							<div class="event-left"> 
								<img class="event-image" src="{{events[n].imageUrl || '/images/MadeInOK100x100.png' }}">								
							</div>
							<div class="event-right">
								<h3>{{events[n].title}}</h3>
								<h4>{{events[n].date | date:"EEE MMM dd"}}</h4>
								<span class="label label-info">{{events[n].date | date:"h:mm a"}}</span>
							</div>
						</div>
					</fieldset>
						<div class="listing" onclick='location.href="/listing/#/view/{{listings[0]._id}}"'>
							<img class="listing-image" src={{listings[0].imageUrl}} alt={{listings[0].companyName}}/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


<div class="homepage-tiles">
	<!-- navigation tiles -->
	<button class="tile tile-accent" onclick='location.href="/listing";'>
		Companies
	</button>
	<button class="tile tile-accent" onclick='location.href="/user";'>
		People
	</button>
	<button class="tile tile-accent" onclick='location.href="/event";'>
		Events
	</button>
	<button class="tile tile-accent" onclick='location.href="/blog";'>
		Blog
	</button>
</div>

<!-- 
	<div class="homepage-tiles grid-100">
	<div class="grid-25 mobile-grid-50">
		<button class="tile tile-accent" onclick='location.href="/listings";'>
			Businesses
		</button>
	</div>
	<div class="grid-25 mobile-grid-50">
		<button class="tile tile-accent" onclick='location.href="/people";'>
			People
		</button>
	</div>
	<div class="grid-25 mobile-grid-50">
		<button class="tile tile-accent" onclick='location.href="/events";'>
			Events
		</button>
	</div>
	<div class="grid-25 mobile-grid-50">
		<button class="tile tile-accent" onclick='location.href="/blog";'>
			Blog
		</button>
	</div>
</div>
-->


<div class="homepage-bottom">
	<div class="wrapper25"> 
		<div class="image-center-wrapper">
			<img class="oklahoma-element" src="/images/Oklahoma_Element.png" alt="Oklahoma"/>
		</div>
	</div>
	<div class="wrapper50">
		<p class="about-text">{{blurb}}</p>
	</div>
	<div class="wrapper25">
		<div class="image-center-wrapper">
			<p>SPONSORED BY</p>
			<img class="bolt-studios-logo" src="/images/BoltStudios.png" alt="Bolt Studios"/>
		</div>
	</div>
</div>


