<script type='text/javascript' src='/lib/jquery.form.min.js'></script>

<form name='blogEditor'>

  	<button ng-show=blogId class="btn btn-danger btn-large pull-right" ng-click=delete()>delete this post</button>
  	<button class='btn btn-large btn-primary pull-right' ng-disabled="blogEditor.$invalid" ng-click="save()">save changes</button>
  	<br/>
  	<br/>
  	<br/>
	<div class="alert alert-info" ng-hide=formData.body&&formData.title>
		<button type="button" class="close" data-dismiss="alert">&times;</button>		
		<strong>Heads Up!</strong> 
		Once you enter a title and some text for the body of your blog post, I'll show you a preview.
	</div>

	<div class="alert" ng-show=formData.body&&formData.title>
		<button type="button" class="close" data-dismiss="alert">&times;</button>		
		Below is the exact markup that will appear on the page after you publish your blog post.
	</div>

	<div class='control-group'>
		<label class='control-label' for='name'>
			Who is writing this post?
		</label>
		<div class='controls'>
			<input class="span12" type="text" name='name' ng-model='formData.name' autocorrect='off' required />
			<div ng-show='blogEditor.name.$dirty && blogEditor.name.$invalid' class='alert alert-error'>
          		<span ng-show='blogEditor.name.$error.required'>You must enter your name.</span>
        	</div>
		</div>
	</div>

	<div class='control-group'>
		<label class='control-label' for='title'>
			What would you like to title it?
		</label>
		<div class='controls'>
			<input class="span12" type="text" name='title' ng-model='formData.title' autocorrect='off' required />
			<div ng-show='blogEditor.title.$dirty && blogEditor.title.$invalid' class='alert alert-error'>
          		<span ng-show='blogEditor.title.$error.required'>You must enter a title.</span>
        	</div>
		</div>
	</div>

	<div class='control-group'>
		<label class='control-label' for='imageUrl'>Blog Header Image</label>
		<div class='alert alert-info'>
			<button type="button" class="close" data-dismiss="alert">&times;</button>	
			Your image will be resized to <strong>1200px wide</strong> by <strong>200px tall</strong>, so choose an 
			image that matches this aspect ratio.
		</div>
		<div class='controls'>
			<button ng-show="blogEditor.imageUrl.$invalid" class="btn btn-primary btn-large" click-hacker target='uploader'>Upload Image</button>
			<button ng-show="!blogEditor.imageUrl.$invalid" class="btn btn-primary btn-large" click-hacker target='uploader'>Upload Different Image</button>
			<input type='file' image-uploader action='/api/blogs/image' name='uploader' id='uploader' style='display:none;' />
			<input type='hidden' name="imageUrl" ng-model='formData.imageUrl' required/>
			<span ng-show='progress' class='text text-info'><strong>Progress</strong>: {{ progress }}%</span>
			<div ng-show='blogEditor.imageUrl.$invalid && !blogEditor.title.$invalid && !blogEditor.name.$invalid && !blogEditor.body.$invalid' class='alert alert-error'>
          		<span ng-show='blogEditor.imageUrl.$invalid'>You must upload an image for your blog post.</span>
        	</div>
		</div>
	</div>

	<div class='control-group'>
		<label class='control-label' for='body'>
			Use this wysiwyg editor to style the contents (if it doesn't load at first, try refreshing the page).
		</label>
		<div ng-show='blogEditor.body.$dirty && blogEditor.body.$invalid' class='alert alert-error'>
      		<span ng-show='blogEditor.body.$error.required'>You must enter content for the blog post.</span>
    	</div>
		<div class='controls'>
	    	<textarea class="span12" name='title' ng-model="formData.body" ck-editor required></textarea>
		</div>
	</div>

	<input type='hidden' name="date" ng-model='formData.date' />

	<div class="preview-wrapper" ng-show=!blogEditor.$invalid>
		<h3> This is how it will look once you submit it </h3>
		<div class="span12 blog-post">
		  <div ng-show="formData.imageUrl" class="blog-image" style="background-image: url({{formData.imageUrl}})"></div> 
		  <div class="blog-header" style="height: 5px;"></div>
		  <div class="blog-body">
  		  	<h2 class="blog-title">{{formData.title}}</h2>
  		  	<h5 class="writer-name">{{formData.name}} {{formData.date | date:"d MMMM, yyyy"}}</h5>
		  	<p class="blog-body" ng-bind-html-unsafe=formData.body></p>
		</div>
	</div>

</form>







