<h1 ng-show=title> {{title}} </h1>

<div class="container">

	<div class="blog-wrapper">

		<div ng-show=admin class="create-blog-wrapper">
  		  <button class="btn btn-large btn-primary pull-right" onclick='location.href="#/edit/{{viewData._id}}"'>edit or delete</button>
	  	</div>

		<div class="span12 blog-post">

		  <div class="blog-header">
  		  	<h2 class="blog-title">{{viewData.title}}</h2>
  		  	<h5 class="writer-name">{{viewData.name}}</h5>
		  	<p class="blog-date">{{viewData.date}}</p>
		  </div>
		  
		  <p class="blog-body" ng-bind-html-unsafe=viewData.body></p>
		</div>
	</div>

</div>