<h1 ng-show=title> {{title}} </h1>

<div class="container">

	<div class="blog-wrapper">

		<div class="span12 blog-post">
		  <div ng-show="viewData.imageUrl" class="blog-image" style="background-image: url({{viewData.imageUrl}})"></div> 
		  <div class="blog-header">
  		  	<h2 class="blog-title">{{viewData.title}}</h2>
  		  	<h5 class="writer-name">{{viewData.name}}</h5>
		  	<p class="blog-date">{{viewData.date}}</p>
		  </div>
		  
		  <p class="blog-body" ng-bind-html-unsafe=viewData.body></p>
		</div>
	</div>

</div>