<script type='text/javascript' src='/lib/jquery.form.min.js'></script>

<form name='eventEditor'>

	<div class="container">
	  	<button ng-show=eventId class="btn btn-danger btn-large pull-right" ng-click=delete()>delete this event</button>
	  	<button class='btn btn-large btn-primary pull-right' ng-click='save()'>save changes</button>
	  	<br/>
	  	<br/>
	  	<br/>

		<div class="alert alert-info" ng-hide=formData.description&&formData.title&&formData.organization>
			<button type="button" class="close" data-dismiss="alert">&times;</button>		
			<strong>Heads Up!</strong> 
			Once you enter some information for the event, I'll show you a preview.
		</div>

		<div class="alert" ng-show=formData.description&&formData.title&&formData.organization>
			<button type="button" class="close" data-dismiss="alert">&times;</button>		
			Below is the exact markup that will appear on the page after you publish your event.
		</div>

		<div class="alert alert-success" ng-show=saved>
			<button type="button" class="close" ng-click=acknowledgeSave()>&times;</button>		
			Your event has been saved.
		</div>

		<div class='control-group'>
			<label class='control-label' for='organization'>
				Who is hosting this event?
			</label>
			<div class='controls'>
				<input class="span12" type="text" name='organization' ng-model='formData.organization' autocorrect='off' required />
				<div ng-show='eventEditor.organization.$dirty && eventEditor.organization.$invalid' class='alert alert-error'>
	          		<span ng-show='eventEditor.organization.$error.required'>You must enter an organization.</span>
	        	</div>
			</div>
		</div>

		<div class='control-group'>
			<label class='control-label' for='title'>
				What would you like to title it?
			</label>
			<div class='controls'>
				<input class="span12" type="text" name='title' ng-model='formData.title' autocorrect='off' required />
				<div ng-show='eventEditor.title.$dirty && eventEditor.title.$invalid' class='alert alert-error'>
	          		<span ng-show='eventEditor.title.$error.required'>You must enter a title.</span>
	        	</div>
			</div>
		</div>

		
		<div class='control-group'>
			<label class='control-label' for='title'>
				What is the location of this event?
			</label>
			<div class='controls'>
				<input class="span12" type="text" name='title' ng-model='formData.location' autocorrect='off' required />
				<div ng-show='eventEditor.location.$dirty && eventEditor.location.$invalid' class='alert alert-error'>
	          		<span ng-show='eventEditor.location.$error.required'>You must enter a location.</span>
	        	</div>
			</div>
		</div>
		
		
		<div class='control-group'>
			<label class='control-label' for='imageUrl'>Event Image</label>
			<div class='alert alert-info'>
				<button type="button" class="close" data-dismiss="alert">&times;</button>	
				Your image will be resized to <strong>100px wide</strong> by <strong>100px tall</strong>, so choose an 
				image that matches this aspect ratio.
			</div>
			<div class='controls'>
				<button ng-show="!eventEditor.imageUrl.$dirty" class="btn btn-primary btn-large" click-hacker target='uploader'>Upload Image</button>
				<button ng-show="eventEditor.imageUrl.$dirty" class="btn btn-primary btn-large" click-hacker target='uploader'>Upload Different Image</button>
				<input type='file' image-uploader action='/api/events/image' name='uploader' id='uploader' style='display:none;' />
				<input type='hidden' name="imageUrl" ng-model='formData.imageUrl'/>
				<span ng-show='progress' class='text text-info'><strong>Progress</strong>: {{ progress }}%</span>
			</div>
		</div>

		<div class="row">
			<div class='control-group span3'>
				<label class='control-label' for='day'>
					day
				</label>
				<div class='controls'>
					<select name='day' ng-model='formData.day' ng-init="formData.day=1">
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
					<option value="6">6</option>
					<option value="7">7</option>
					<option value="8">8</option>
					<option value="9">9</option>
					<option value="10">10</option>
					<option value="11">11</option>
					<option value="12">12</option>
					<option value="13">13</option>
					<option value="14">14</option>
					<option value="15">15</option>
					<option value="16">16</option>
					<option value="17">17</option>
					<option value="18">18</option>
					<option value="19">19</option>
					<option value="20">20</option>
					<option value="21">21</option>
					<option value="22">22</option>
					<option value="23">23</option>
					<option value="24">24</option>
					<option value="25">25</option>
					<option value="26">26</option>
					<option value="27">27</option>
					<option value="28">28</option>
					<option value="29">29</option>
					<option value="30">30</option>
					<option value="31">31</option>
					</select>
					<div ng-show='eventEditor.day.$dirty && eventEditor.day.$invalid' class='alert alert-error'>
		          		<span ng-show='eventEditor.day.$error.required'>You must enter a day.</span>
		        	</div>
				</div>
			</div>
			<div class='control-group span3'>
				<label class='control-label' for='day'>
					month
				</label>
				<div class='controls'>
					
					<select name='month' ng-model='formData.month' ng-init='formData.month=1'>
					<option value="1">Jan</option>
					<option value="2">Feb</option>
					<option value="3">Mar</option>
					<option value="4">Apr</option>
					<option value="5">May</option>
					<option value="6">Jun</option>
					<option value="7">Jul</option>
					<option value="8">Aug</option>
					<option value="9">Sep</option>
					<option value="10">Oct</option>
					<option value="11">Nov</option>
					<option value="12">Dec</option>
					
					</select>
					
					<div ng-show='eventEditor.month.$dirty && eventEditor.month.$invalid' class='alert alert-error'>
		          		<span ng-show='eventEditor.month.$error.required'>You must enter a month.</span>
		        	</div>
				</div>
			</div>
			<div class='control-group span3'>
				<label class='control-label' for='year'>
					year
				</label>
				<div class='controls'>
					<input type="text" name='year' ng-model='formData.year' autocorrect='off' required />
					<div ng-show='eventEditor.year.$dirty && eventEditor.year.$invalid' class='alert alert-error'>
		          		<span ng-show='eventEditor.year.$error.required'>You must enter a year.</span>
		        	</div>
				</div>
			</div>

			<div class='control-group span1'>
				<label class='control-label' for='hours'>
					hours
				</label>
				<div class='controls'>
					<select class="time-select" name="hours" ng-model="formData.hour" ng-options="h for h in hours">
					</select>
				</div>
			</div>
			<div class='control-group span1'>
				<label class='control-label' for='minutes'>
					minutes
				</label>
				<div class='controls'>
					<select class="time-select" name="minutes" ng-model="formData.minute" ng-options="m for m in minutes">
					</select>
				</div>
			</div>
			<div class='control-group span1'>
				<label class='control-label' for='ampm'>
					am/pm
				</label>
				<div class='controls'>
					<select class="time-select" name="ampm" ng-model="formData.ampm" ng-options="t for t in ['AM','PM']">
					</select>
				</div>
			</div>
		</div>

		<div class='control-group'>
			<label class='control-label' for='description'>
				Is this event recurring?
			</label>
			<div class='controls'>
				<input type="checkbox" ng-checked="formData.recurring_period > 0" name="recurring" ng-model='formData.recurring'>
				<select ng-hide="!formData.recurring" name="recurring_period" ng-show="formData.recurring > 0 || formData.recurring_period > 0" ng-model='formData.recurring_period'>
					<option value="1" ng-selected="formData.recurring_period  == 1">monthly</option>
					<option value="2" ng-selected="formData.recurring_period  == 2">weekly</option>
				</select>
			</div>
		</div>
		
		<div class='control-group'>
			<label class='control-label' for='description'>
				Tell us a little more about the event.
			</label>
			<div class='controls'>
				<textarea class="span12" type="text" name='description' ng-model='formData.description' ck-editor required></textarea>
				<div ng-show='eventEditor.description.$dirty&&eventEditor.description.$invalid' class='alert alert-error'>
	          		<span ng-show='eventEditor.description.$error.required'>You must enter a title.</span>
	        	</div>
			</div>
		</div>

		
		<div ng-show=!eventEditor.$invalid>
			<h3> This is how it will look once you submit it </h3>
			<div class="event">
				<div style="float:left;">
					<div class="event-left"> 
						<img class="event-image" src="{{formData.imageUrl || '/images/MadeInOK100x100.png' }}">								
					</div>
					<div class="event-right">
						<h3>{{formData.title}}</h3>
						<h4>{{getDate() | date:"EEE MMM dd"}}</h4>
						<span class="label label-info">{{getDate() | date:"h:mm a"}}</span>
					</div>
				</div>
				<div class="event-description" ng-bind-html-unsafe=formData.description>
				</div>
									<div style="clear:both;"><img src="/images/map-marker.png" alt="map marker">{{formData.location}}</div>
					<div>Hosted by : {{formData.organization}}</div>
			</div>
		</div>

	</div>

</form>







