<div class="event">
	<div style="float:left;">
		<div class="event-left"> 
			<img class="event-image" src="{{viewData.imageUrl || '/images/MadeInOK100x100.png'}}">								
		</div>
		<div class="event-right">
			<h3>{{viewData.title}}</h3>
			<h4>{{viewData.date | date:"EEE MMM dd"}}</h4>
			<span class="label label-info">{{viewData.date | date:"h:mm a"}}</span>
		</div>
	</div>
	<div class="event-description" ng-bind-html-unsafe=viewData.description>
	</div>
			<div style="clear: both;"><img src="/images/map-marker.png" alt="map marker">{{viewData.location}}</div>
		<div>Hosted by : {{viewData.organization}}</div>
		
	<style type="text/css">
.sshare td iframe{
border: none;
}
.sshare td{
padding: 10px;
}
.sshare td p{
margin: 0;
}
.sshare td .fb-like span iframe{
margin-top: -6px;
}
</style>
<p></p>
<div style="text-align:center;margin-left: 25%;">
<table class="sshare">
<tr>
<td>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=1468438450063051&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script> 
<div class="fb-like" data-layout="button" data-action="like" data-show-faces="false" data-share="false"></div</td>
<td><a href="https://twitter.com/share" class="twitter-share-button" data-count="none">Tweet</a><br />
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></td>
<td><a href="//www.pinterest.com/pin/create/button/" data-pin-do="buttonBookmark" ><img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_gray_20.png" /></a><script type="text/javascript" async src="//assets.pinterest.com/js/pinit.js"></script></td>
<td>
<div class="g-plus" data-action="share" data-annotation="none"></div>
<p><script type="text/javascript">(function() {var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;po.src = 'https://apis.google.com/js/platform.js';var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);})();</script></td>
</tr>
</table>
</div>